.dashboard_container{
    width: 100%;
    min-height: 100vh;
}

.main_content{
    padding-block:1.5rem;
    padding-right: 2%;
}

.border_3{
    border-radius: 3px;
}

.radius_0{
    border-radius: 0 !important;
}